<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header class="header">
    <h1 class="titulo-header">Projeto</h1>
</header>


<main class="container">
    <h2 class="titulo-principal">Cadastro de Indisponibilidade de Equipamentos</h2>
    <p class="subtitulo">Cadastrar, listar e gerenciar indisponibilidade de equipamentos.</p>
    <p class="subtitulo">Escolha uma opção abaixo:</p>

    <div class="botoesCentralizados">
        <a th:href="@{/formulario}" class="btn btn-verde">Cadastrar Indisponibilidade</a>
        <a th:href="@{/listar}" class="btn btn-cinza">Listar Indisponibilidade</a>
    </div>
</main>

<footer class="footer">
    &copy; 2025 - Projeto em Java + Spring Boot
</footer>

</body>
</html>