<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listagem</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header class="header">
    <h1 class="titulo-header">Listagem de indisponibilidades</h1>
</header>


<main class="container">
    <h2 class="titulo-principal">CRUD</h2>

    <div class="search-container">
        <input type="text" class="search-input" placeholder="Pesquisar...">
        <button class="search-button">Buscar</button>
    </div>

    <table class="tabela">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Motivo</th>
                <th>Responsável</th>
                <th>Setor</th>
                <th>Observações</th>
                <th>Data de Indisponibilidade</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody th:each="ind : ${indisponibilidade}">
            <tr>
                <td th:text="${ind.id}"></td>
                <td th:text="${ind.nome}"></td>
                <td th:text="${ind.motivo}"></td>
                <td th:text="${ind.responsavel}"></td>
                <td th:text="${ind.setor}"></td>
                <td th:text="${ind.observacoes}"></td>
                <td th:text="${ind.data_indisponibilidade}"></td>
                <td>
                    <a th:href="${'/editar/' +ind.id}" class="btn btn-amarelo">Editar</a>
                    <a th:action="${'/deletar/' + ind.id}" method="post" class="btn btn-vermelho">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="paginacao">
        <!-- <a href="#" class="page-link">&laquo; Anterior</a>
        <a href="#" class="page-link">1</a>
        <a href="#" class="page-link">2</a>
        <a href="#" class="page-link">Próximo &raquo;</a> -->
    </div>

    <div class="botoesCentralizados">
        <a href="@{/formulario}" class="btn btn-verde">Cadastrar Pessoa</a>
        <a href="@{/}" class="btn btn-cinza">Voltar</a>
    </div>
    
</main>

<footer class="footer">
    &copy; 2025 - Projeto em Java + Spring Boot
</footer>

</body>
</html>
